/tools/work_dir/

/VideoOutput/
/configs/behavior/skeleton/posec3d/4leg_slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint.py
/configs/behavior/skeleton/posec3d/primate_slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint.py
/configs/behavior/skeleton/posec3d/Z4leg_slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint.py
/configs/faceid/arcface/resnet50-arcface_8xb32_inshop_custom.py
/configs/pose/animal_2d_keypoint/topdown_heatmap/ap10k/fourleg_td-hm_hrnet-w32_8xb64-210e_ap10k-256x256.py
/configs/pose/body_2d_keypoint/topdown_heatmap/coco/primate_td-hm_hrnet-w32_8xb64-210e_coco-256x192.py
tools/benchmark_weight/resnet50_8xb32_in1k_20210831-ea4938fc.pth
tools/benchmark_weight/hrnet_w32_ap10k_256x256-18aac840_20211029.pth
tools/benchmark_weight/pose_rnet_w32_macaque_256x192-f7e9e04f_20210407.pth

/ztest_script/
/configs/test_inference_cfg.yaml

dependencies/mmdeploy/alexnet_trt.engine
dependencies/mmdeploy/delet1.py
dependencies/mmdeploy/delet2.py
dependencies/mmdeploy/td-hm_hrnet-w32_8xb64-210e_coco-256x192.py
dependencies/mmdeploy/td-hm_hrnet-w32_8xb64-210e_coco-256x192-81c58e40_20220909.pth
/.idea/